.product-img-wrapper {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f8f9fa;
}

.product-img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}
